@model SanimaBank.Models.Legends


    
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Legends</h4>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NPR, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.NPR, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NPR, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NRB, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.NRB, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NRB, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sanima, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Sanima, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Sanima, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">

                        </div>
                    </div>
                </div>
            </div>

        </div>
       
        

       

        

       
    </div>

