@model  SanimaBank.Models.Form

    @{
    ViewBag.Title = "Form";
}
<link href="~/Content/Form.css" rel="stylesheet" />
<form id="regForm" >
    
      
        <h1>Sanima Bank</h1>
        
   
    <div class="tab">
        @Html.EditorFor(x => x.BasicDetail)
        @Html.EditorFor(x => x.ReportingAsNRBDirective)
        @Html.EditorFor(x => x.Legend)

        @Html.EditorFor(x => x.Proposals)
    </div>
    <div class="tab">
       <h4>Schedule Of Securities</h4>
           @Html.EditorFor(x=>x.PropertyTypes)
        @Html.EditorFor(x => x.PrimeSecurityDetail)


    </div>
    <div class="tab">
        
        @Html.EditorFor(x=>x.CreditCheckList_Generals)
        @Html.Partial("~/Views/Form/EditorTemplates/RegulatoryComplianceCheckList.cshtml")
    </div>





    <div style="overflow:auto;" >
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        
    </div>

</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Form.js"></script>
    <script type="text/javascript">
     
    </script>
}